# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = MeiPai.settings

[deploy:meipai]
url = http://10.100.103.150:6800/
project = MeiPai
